body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: Tahoma;
  font-size: 40px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-top: 1px solid #687291;
  margin: 10px;
  

#box1 {
  background-color: #dfe1e7;
}

#box2 {
  background-color: #eeeff2;
}

#box3 {
  background-color: #dfe1e7;
}

#box4 {
  background-color: #eeeff2;
}

#box5 {
  background-color: #dfe1e7;
}

#box6 {
  background-color: #687291;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

