body {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    width: 100px;
    height: 150px;
    font-family: Tahoma;
    font-size: 40px;
}

.box:hover {
    cursor: pointer;
    background-color: yellow;
    color: goldenrod;
}


#box6 {
    position: relative;
    bottom: 0px;
    right: 0px;
}
