/* Uses stylesheet A as a base */

body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  font-size: 40px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: solid 5px gold;
  background-image: linear-gradient(to left, gold, orange);
  animation: borderGlow ease-in-out 2s infinite forwards;
}

.box:hover {
    cursor: pointer;
    animation: boxAnimation ease-in-out 1s forwards;
}

@keyframes boxAnimation {
    0% {
        height: 100px;
        width: 100px;
    }

    100% {
        height: 300px;
        width: 300px;
    }
}

@keyframes borderGlow {
    0% {
        border: solid 8px gold;
    }
    50% {
        border: solid 8px black;
    }
}
