body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    padding: 0;
    margin: 10px;
    font-family: Tahoma;
    font-size: 40px;
}

.box {
    display: flex;
    margin: 10px;
    margin-left: 0;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    width: 100px;
    height: 150px;
}

.box:hover {
    cursor: pointer;
    background-color: yellow;
    color: goldenrod;
}

#box6 {
    position: fixed;
    bottom: 0;
    right: 0;
}
