body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  font-size: 40px;
}

.box {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-top: 1px solid #687291;
}
  
#box1 {
  background-color: #dfe1e7;
}

#box2 {
  background-color: #eeeff2;
}

#box3 {
  background-color: #dfe1e7;
}

#box4 {
  background-color: #eeeff2;
}

#box5 {
  background-color: #dfe1e7;
}

#box6 {
  align-items: center;
  background-color: #687291;
  border: 4px solid black;
}
